.pro{
    background-color: aliceblue;
}
.main{
    border:1px solid #FAF2F2;
}
body{
    background-color: aliceblue;
}
.main{
    background-color: white;
}
.prosearch{
    background-color: white;
   
}
.profile-card{
    background-color: white;
}